<section>
    <h4>Contacta</h4>
    <p>684144382</p>
    <h4>Ubicación</h4>
    <p>C/ Cuesta de las Monjas N13</p>
</section>
<section>
    <p><a href="/contact">Desarrollador: Antonio Jiménez</a></p>
    <p><a href="/doc">Como se hizo...</a></p>
</section>
<section>
    <h3>GRACIAS</h3>
    <h3>POR SU</h3>
    <h3>VISITA</h3>
</section>