/* GENERALES */

p {
    margin: 0;
}


.img {
    border: 2px solid #222222;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.white-link {
    text-decoration: none;
    color: white;
}

.black-link {
    text-decoration: none;
    color: #222222;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

/* DISEÑO */

.row {
    display: flex;
    align-items: center;
    padding: 1.0rem;
}

.col {
    display: block;
}

/**/

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: #d9d9d9;
}

/* HOME*/

.page-home {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto 3.0rem;
    width: 90%;
    padding: 3rem 0;
    color: #222222;
}

.menu-last-news {
    grid-row: 1;
    justify-content: end;
    border-right: 1px solid #222222;
    text-align: end;
    width: 300px;
    padding: 0 15%;
}

.menu-last-news ul {
    list-style: none;
    font-size: 20px;
    line-height: 2rem;
    padding: 0;
}

.menu-last-news li {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background-color: #323232;
    border-radius: 20px;
    width: 100%;
    margin: 1.0rem 0;
}

.menu-last-news li .last-new {
    padding: 0.5rem 1.5rem;
}

.menu-last-news li .last-new h4 {
    color: white;
    font-weight: normal;
}

/**/

.main-content {
    padding-left: 15%;
    padding-right: 2rem;
    grid-row: 1;
    text-align: center;
}

.container-expos {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-expos .expo {
    background-color: white;
    margin: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 20px;
}

.container-expos .expo img {
    border: 3px solid #222222;
    border-radius: 10px;
}

.container-expos .expo a {
    text-decoration: none;
    color: #222222;
}

/* PAGE EXPO */

.page-expo {
    width: 75%;
    padding: 3rem 0;
    margin: auto;
    color: #222222;
}

.page-expo .expo-info {
    text-align: center;
}

.page-obra .obra-description,
.page-expo .expo-info .expo-info-description {
    text-align: justify;
}

.page-expo .obras fieldset {
    margin-top: 3.0rem;
    border-radius: 20px;
    font-weight: bold;
    background: white;
    border: 2px solid;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color: #222222;
    align-items: end !important;
    text-align: center;
    justify-content: space-around;
    padding: 3rem;
}

.page-expo .obras fieldset h3 {
    color: #222222;
    margin-bottom: 0;
}

.page-expo .obras fieldset article {
    padding: 1rem 0;
}

/* PAGINA OBRA */

.page-obra {
    padding: 4rem 0;
    width: 70%;
    margin: auto;
}

.page-obra .section-info-obra {
    text-align: center;
}

@media (max-width: 1400px) {
    .page-home {
        width: 100%;
    }
}

@media (max-width: 1250px) {
    .page-home {
        display: block;
    }

    .main-content {
        padding: 0 3rem;
    }

    .menu-last-news {
        text-align: center;
        width: auto;
        border-right: none;
        margin: auto;
        padding: 0 3rem 2rem;
    }

    .menu-last-news ul {
        display: flex;
    }

    .menu-last-news ul li {
        margin: 0 2rem;
    }

    .page-expo {
        width: 90%;
    }

    .menu-last-news ul {
        display: block;
    }

    .menu-last-news ul li {
        margin: 2rem 0;
    }
}

@media (max-width: 960px) {
    .page-expo .obras fieldset {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 790px) {
    .page-obra {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .page-expo .obras fieldset {
        display: grid;
        grid-template-columns: 100%;
    }
}

@media (max-width: 650px) {
    .container-expos {
        display: block;
    }

    .page-obra .section-info-obra img {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 460px) {
    .page-expo .expo-info img {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 365px) {
    .menu-last-news,
    .main-content {
        padding: 20px;
    }

    .container-expos .expo {
        margin: 1rem 0;
    }

    .page-expo .obras fieldset {
        padding: 0 5px;
    }
}